footer {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
}
.best-school {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
}
