header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}
.logo img {
    height: 30px;
}
